img {
    max-width: 100%;
}

.hero-slider img {
    max-width: 100%;
}

.hero-product {
    background-color: #F6F8FA;
    margin-top: 20px;
    padding: 50px 24px;
    border-radius: 24px;
}

.product-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 11px;
}

.product-card-image {
    position: relative;
}

.product-card-image img {
    border-radius: 16px;
}

.product-card-tag {
    background-color: #1F4B43;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FFFFFF;
}

.product-card-info {
    padding: 15px;
}

.product-card-info-top {
    display: flex;
    justify-content: space-between;
}

.product-card-info-top-price {
    color: #ff0000;
}

.product-card-info-bottom {
    display: flex;
    margin-top: 20px;
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon.icon-bed {
    background-image: url('../img/icon/bed.svg');
}

.icon.icon-bath {
    background-image: url('../img/icon/bath.svg');
}

.icon.icon-sqft {
    background-image: url('../img/icon/sqft.svg');
}

.section-title {
    font-size: 2rem;
    font-weight: 500;
}

.product-feature-card {
    position: relative;
    height: 100%;
    display: flex;
    text-decoration: uppercase;
}

.feature-product-card-text {
    position: absolute;
    padding: 25px;
    color: white;
    z-index: 1;
}

.feature-product-card-image img {
    border-radius: 16px;
    object-fit: cover;
}

.feature-product-card-image {
    display: flex;
}

.feature-product-card-overlay {
    position: absolute;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.city-product-card-text {
    position: absolute;
    padding: 25px;
    color: white;
    z-index: 1;
}

.city-product-card-image {
    display: flex;
    overflow: hidden;

}

.city-product-card-image img {
    border-radius: 16px;
    object-fit: cover;
}

.city-product-card-image::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 16px;
}

.why-choose-us {
    background-color: #E7C873;
    border-radius: 24px;
    text-align: center;
    padding: 70px 0;
}

.why-choose-us-card {
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.why-choose-us-card-icon {
    padding-bottom: 10px;
}

.why-choose-us-card-text {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.figure-card{
    position: relative;
    display: flex;
    overflow: hidden;
}

.figure-card-tag {
    background-color: #1F4B43;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FFFFFF;
    z-index: 1;
    text-transform: uppercase;
}

.figure-card-image {
    position: relative;
    object-fit: cover;
}

.figure-card-tag-2 {
    background-color: #f6f101;
    position: absolute;
    top: 20px;
    left: 120px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #000000;
    z-index: 1;
    text-transform: uppercase;
}

.figure-card-text {
    position: absolute;
    color: white;
    z-index: 1;
    left: 0;
    bottom: 0;
    padding: 0 0 75px 20px;
}

.figure-card-price {
    position: absolute;
    color: white;
    z-index: 1;
    left: 0;
    bottom: 0;
    padding: 0 0 25px 20px;
}

.figure-card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(26, 26, 26, 0.8) 100%);
    z-index: 1;
    border-radius: 16px;
}

.info-part {
    position: relative;  
}

.info-part-text {
    position: absolute;
    color: #ffffff;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.info-part:hover .info-part-text {
    opacity: 1;
    visibility: visible;
}

.local-expertise {
    background-color: #1F4B43;
    border-radius: 24px;
}

.local-expertise-image {
    position: relative;
}

.local-expertise-image img {
    border-radius: 24px;
}

.local-expertise-image-tag {
    position: absolute;
    background-color: #FFFFFF;
    left: 40px;
    top: 40px;
    border-radius: 24px;
    padding: 10px;
    display: flex;
    display: flex;
    gap: 10px;
}

.local-expertise-image-tag-icon {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
}

.customer-card {
    gap: 10px;
}

.icon-star {
    background-image: url(../img/icon/star.svg);
    filter: grayscale(1);
}

.icon-star.active {
    filter: grayscale(0);
}

.icon-comment {
    background-image: url(../img/icon/comment.svg);
    width: 60px;
    height: 60px;
}

.comment-card-left-side-image img {
    width: 100px;
    height: 100px;
}

.comment-card-left-side {
    gap: 20px;
    align-items: center;
}

.comment-card-header {
    justify-content: space-between;
}

.comment-card-icons {
    background-color: #ffffff;

}

.icon-comment:hover {
    background-color: antiquewhite;
    transition: all 200ms;
    display: inline-block;
}

.icon-comment-left {
    background-image: url(../img/icon/icon-left.svg);
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    gap: 20px;
    border: 1px solid black;
}

.icon-comment-right {
    background-image: url(../img/icon/icon-right.svg);
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    gap: 20px;
    border: 1px solid black;
}

.recent-article-card {
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    &-image {
        position: relative;
        span {
            position: absolute;
            padding: 5px 15px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffd607;
            border-radius: 12px;
            color: #000000;
            visibility: hidden;
            cursor: pointer;
        }

        img {
            display: block;
            border-radius: 16px 16px 0 0;
            margin-bottom: 10px;
        }
    }

    &-image:hover {
        span {
            visibility: visible;
            transition: all 200ms;
            display: inline-block;
        }
    }

    &-text {
        span {
            display: inline-block;
            &:not(:last-child)::after {
                content: '';
                height: 4px;
                width: 4px;
                display: inline-block;
                border-radius: 50%;
                background-color: #3D3E3F;
                margin: 0 5px 0 9px;
                vertical-align: middle;
            }
        }
    }
}

